* {
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  background: #621402;
  color: #FFFFFF;
}

.container {
  max-width: 1170px;
  margin: auto;
  width: 90%;
}

.website__header {
  background-image: linear-gradient(180deg, rgba(98, 20, 2, 0.31) 0%, #621402 85.62%),
    url(../images/dune-poster_image.jpg);
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
  padding: 30px 0;
}
.nav {
  position: relative;
}
.m__menu {
  display: none;
}

.navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  vertical-align: middle;
  font-size: 14px;
  line-height: 16px;
}

.nav__menu {
  list-style-type: none;
  width: 425px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 57px;
}

.menu__link {
  color: #FFFFFF;
  text-decoration: none;
}

.user {
  display: flex;
  flex-direction: row;
  align-items: center;
  vertical-align: middle;
  margin-left: auto;
  color: #FFFFFF;
}

.user__avatar {
  width: 33px;
  height: 33px;
  border-radius: 50%;
  margin-left: 12px;
}

/* movie */
.movie {
  display: flex;
  align-items: center;
  color: #FFFFFF;
  margin-top: 90px;
}

.movie__director {
  font-size: 24px;
  line-height: 150%;
  opacity: 0.5;
}

.movie__title {
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  margin-top: 12px;
  margin-bottom: 24px;
}

.movie__description {
  font-size: 16px;
  line-height: 150%;
  max-width: 570px;
}

.movie__trailer {
  margin: auto;
}
.movie__trailer a {
  cursor: pointer;
}
.movie__details {
  display: flex;
  align-items: center;
  margin-top: 52px;
}

.time {
  display: flex;
  align-items: center;

}

.time__icon {
  margin-right: 14px;
}

.rating {
  display: flex;
  align-items: center;
  margin-left: 34px;
}

.rating__icon {
  margin-right: 14px;
}

.rating__current {
  font-weight: bold;
  font-size: 24px;
  line-height: 150%;
}

.session {
  padding: 46px 0 64px;
  margin-top: 68px;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.session__label {
  display: block;
  margin-bottom: 20px;
}

.session__date__block {
  display: flex;
  align-items: center;
}

.session__date__item {
  width: 90px;
  height: 90px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 5px;
  text-align: center;
  margin-right: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: 0.3s;
  cursor: pointer;
}

.session__date__item:hover {
  background: #FE8E05;
  color: #621402;
}

.session__month {
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
}

.session__day {
  font-weight: bold;
  font-size: 30px;
  line-height: 35px;
}

.session__time {
  font-size: 19px;
  line-height: 22px;
  text-transform: uppercase;
}

.cinema__select,
.time__select {
  background: rgba(255, 255, 255, 0.15);
  border: 1px solid rgba(255, 255, 255, 0.5);
  box-sizing: border-box;
  border-radius: 5px;
  font-size: 16px;
  line-height: 150%;
  color: #FFFFFF;
  padding: 18px;
  cursor: pointer;
  margin-top: 14px;
}

.cinema__select {
  width: 470px;
}

.cinema__select:hover,
.time__select:hover {
  background: #FE8E05;
  color: #621402;
}

.seats__scheme {
  background: rgba(36, 36, 36, 0.18);
  border-radius: 10px;
}
.seats__scheme__svg {
  max-width: 1170px;
}

.seats__scheme path:not(.light) {
  fill: rgba(255, 255, 255, 0.2);
  cursor: pointer;
}

.seats__scheme path:not(.light):hover {
  fill: rgba(255, 255, 255, 0.5);
}

.seats__scheme path.booked,
.seats__scheme path.booked:hover {
  fill: rgba(255, 255, 255, 0.05);
  cursor: not-allowed;
}

.legend {
  display: flex;
  align-items: center;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  padding: 22px 0 38px;
  max-width: 1024px;
  width: 90%;
  margin: auto;
}

.legend__label {
  display: flex;
  align-items: center;
  margin-right: 30px;
  color: rgba(255, 255, 255, 0.5);
}

.legend__selected {
  color: #FE8E05;
}

.legend__selected path.active,
.seats__scheme path.active {
  fill: rgba(254, 142, 5, 1);
}

.legend__selected path.active:hover,
.seats__scheme path.active:hover {
  fill: rgba(254, 142, 5, 0.75);
}

.legend svg {
  margin-right: 15px;
}

.price {
  padding: 60px 0 160px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.price__label {
  display: block;
  font-size: 18px;
  line-height: 21px;
  margin-bottom: 12px;
}

.total__price {
  font-size: 52px;
  line-height: 61px;
}

.price__button {
  background: #FE8E05;
  border-radius: 5px;
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  padding: 24px 52px;
  color: #FFFFFF;
  text-decoration: none;
  min-width: 254px;
  text-align: center;
}

@media (max-width: 1200px) {
  .container {
    max-width: 960px;
  }
  .cinema__select {
    width: 100%;
  }
}
@media (max-width: 992px) {
  .container {
    max-width: 750px;
  }
  .session {
    flex-wrap: wrap;
  }
  .session__date {
    flex-basis: 70%;
    margin-bottom: 20px;
  }
  .session__cinema {
    order: 3;
  }
}
@media (max-width: 768px) {
  .container {
    max-width: 560px;
  }

  .nav__menu {
    position: absolute;
    top: 40px;
    left: 0;
    flex-direction: column;
    max-width: 100px;
    margin: 0 20px;
    padding: 20px;
    margin-left: 0;
    background-color: rgba(98, 20, 2, 0.7);
    z-index: 9;
    border-radius: 4px;
    opacity: 0;
    visibility: hidden;
    transform: translateY(-20%);
    transition: opacity 0.5s, transform 0.5s;
  }
  .shown {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }
  .menu__item:not(:last-child) {
    margin-bottom: 10px;
  }
  .m__menu {
    display: block;
    background-color: transparent;
    border: none;
    width: 40px;
    height: 40px;
    margin-left: 10px;
    cursor: pointer;
  }
  .movie {
    flex-direction: column;
  }
  .movie__description {
    margin-right: 30px;
  }
  .movie__trailer {
    margin-right: auto;
    margin-left: 0;
    margin-top: 40px;
  }
  
}
@media (max-width: 462px) {
  .session__cinema {
    margin-top: 20px;
  }
  .legend {
    flex-direction: column;
    align-items: flex-start;
  }
  .legend__free, .legend__selected {
    margin-bottom: 12px;
  }
  .session__date__item {
    width: 60px;
    height: 60px;
    font-size: 12px;
    line-height: 14px;
  }
  .session__day {
    font-size: 24px;
    line-height: 28px;
  }
  .session__month {
    font-size: 12px;
    line-height: 14px;
  }
  .price {
    flex-direction: column;
  }
}